<%= render 'shared/content_title', title: "#{@patient.name_first_last}" %>


<div class = "row">
  <div class = "col-xs-12 col-md-8">
    <dl class="dl-horizontal">
      <dt>DOB: </dt>
      <dd><%= @patient.dob %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Recent vitals: </dt>
      <dd><%= @patient.vitals_at_a_glance %></dd>
    </dl>
  </div>
  <div class = "col-xs-6 col-md-4">
    <h4>Caretakers</h4>
    <ul>
      <% @patient.patient_caretakers.each do |patient_caretaker| %>
      <li><strong><%= patient_caretaker.user.name %></strong>, <i><%= patient_caretaker.role %></i></li>
      <% end %>
    </ul>
  </div>
</div>
<br/>

<h2>Track vital signs</h2>
<hr/>
<% @patient_vital_sign ||= @patient.patient_vital_signs.new %>
<%= render 'patient_vital_signs/form' %>
<br/>


<h2>Chart</h2>
<hr/>
<%= render 'patient_chart' %>
</div>
